/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colgroup;
@tailwind table;
@tailwind scrollbar;
@tailwind forms;
@tailwind aspect-ratio;
@tailwind line-clamp;
@tailwind typography;


/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqQ4E.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}/* latin-ext */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v26/cY9CfjOCX1hbuyalUrK439vCgIhCFpY.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v26/cY9CfjOCX1hbuyalUrK439vCjohC.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v26/cY9AfjOCX1hbuyalUrK439HyjJBG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v26/cY9AfjOCX1hbuyalUrK439DyjJBG.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/newsreader/v26/cY9AfjOCX1hbuyalUrK4397yjA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: .025em rgba(51,51,51,0.50);
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: #f3f4f6; /* Tailwind's gray-100 */
    color: #111827; /* Tailwind's gray-900 */
}
h5 {
    @apply text-xs italic text-gray-600 font-light;
}

/* Custom Dropdown Styles */
.dropdown-content { padding-top: 1px; @apply text-sm; display: none; cursor: pointer; position: absolute; left: 0; color: color-mix(in lab, var(--color) 80%, #ffffff 20%); min-width: 160px; border-radius: 4px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 90; background-color: color-mix(in lab, var(--color) 15%, #000000 85%);}
.dropdown-content * { width: 100%; text-align: left;}
* {
    box-sizing: border-box;
    user-select: none;
}

table { border-collapse: collapse; border-spacing: 0 0.5em; }
tr:hover { background-color: #fafbfd; } /* Tailwind's gray-100 */
td { padding: 0.25em 1em; } /* Tailwind's gray-200 */
tr {
    cursor: pointer;
    border-bottom: 4px solid #fff; /* Default border color */
    transition: border-color 0.3s ease;
}
body {
    scrollbar-color: color-mix(in lab, var(--color) 20%, #000000 80%) color-mix(in lab, var(--color) 10%, #000000 90%);
    scrollbar-width: thin;
}
label.button-custom {
    padding-top: 6px;
}
.button-custom {
    z-index: 100;
    user-select:none; 
    cursor:pointer; 
    font-weight: 600;
    @apply text-sm;
    display:block;
    @apply transition-colors duration-200;
    @apply px-4 py-2;
}
.button-custom-primary {
    @apply rounded-md border-2 border-solid border-sky-300 bg-white font-semibold text-gray-700

}
.button-custom:hover {
    @apply bg-sky-100;
}
.button-custom:active {
    @apply border-sky-500;
}
label.button-custom:active {
    padding-top: 7px;
}
.loose-container {
    font-family: 'Newsreader', Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd; /* Tailwind's gray-300 */
    width: 210mm;
    @apply bg-white rounded-md;
}
.plot-medium {
    width: 100%;
    height: 500px;
}
img {
    @apply rounded-sm m-2 block;
}
.tabs {
    display: flex;
    background: #f7f8f9;
    /*border-bottom: 4px solid #ddd;*/
    overflow-x: auto;
    @apply flex-nowrap;
    border-bottom: #ddd solid 1px;
}
.tab-icon-recording::before {
    @apply text-red-500 font-bold mr-1 inline-block;
    content: "⏺";
}
.tab-icon-waveform::before {
    @apply text-sky-500 font-bold mr-1 inline-block;
    content: "∿";
}
.tab-icon-analysis::before {
    @apply text-purple-500 font-bold mr-1 inline-block;
    content: "⛶";
}
.tab {
    @apply rounded-md px-4 py-1 m-1;
    cursor: pointer;
    background: none;
    font-size: 14px;
    border-top: 1px solid transparent;
    white-space: nowrap;
}
.tab-closable {
    padding-right: 16px;
    position: relative;
    border-left: 1px solid #ddd;
    border-top: 1px solid transparent;
    @apply rounded-none py-2 m-0;
}
.tab-closable:last-child {
    border-right: 1px solid #ddd;
}
.tab-closable.tab.active {
    background: #fff;
    border-top: 1px solid var(--color);
    overflow-y: visible;
}
.tab:hover {
    background: #fff;
}
.tab-close {
    margin-left: 8px;
    color: #999;
    font-weight: bold;
}
.tab-close:hover {
    color: #d73a49;
}
.tab-content {
    display: none;
    padding: 20px;
}
.tab-content.active {
    display: block;
}