/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colgroup;
@tailwind table;
@tailwind scrollbar;
@tailwind forms;
@tailwind aspect-ratio;
@tailwind line-clamp;
@tailwind typography;

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f3f4f6; /* Tailwind's gray-100 */
    color: #111827; /* Tailwind's gray-900 */
}

/* Custom Dropdown Styles */
.dropdown-content { padding-top: 1px; @apply text-sm; display: none; cursor: pointer; position: absolute; left: 0; color: color-mix(in lab, var(--color) 80%, #ffffff 20%); min-width: 160px; border-radius: 4px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 90; background-color: color-mix(in lab, var(--color) 15%, #000000 85%);}
.dropdown-content * { width: 100%; text-align: left;}
* {
    box-sizing: border-box;
    user-select: none;
}

table { border-collapse: collapse; border-spacing: 0 0.5em; }
tr:hover { background-color: #fafbfd; } /* Tailwind's gray-100 */
td { padding: 0.25em 1em; } /* Tailwind's gray-200 */
tr {
    cursor: pointer;
    border-bottom: 4px solid #fff; /* Default border color */
    transition: border-color 0.3s ease;
}
body {
    scrollbar-color: color-mix(in lab, var(--color) 20%, #000000 80%) color-mix(in lab, var(--color) 10%, #000000 90%);
    scrollbar-width: thin;
}
label.button-custom {
    padding-top: 6px;
}
.button-custom {
    z-index: 100;
    color: color-mix(in lab, var(--color) 80%, #ffffff 20%);
    height:32px;
    user-select:none; 
    cursor:pointer; 
    border:none;
    @apply text-sm;
}
.button-custom:hover {
    background-color: color-mix(in lab, var(--color) 25%, #000000 75%);
}
.button-custom:active {
    padding-top: 1px;
    background-color: color-mix(in lab, var(--color) 10%, #000000 90%);
}
label.button-custom:active {
    padding-top: 7px;
}